<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h2>Quên mật khẩu</h2>
          <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
            <div class="mb-3">
              <label for="email" class="form-label">Email:</label>
              <input type="email" class="form-control" id="email" formControlName="email">
              <div *ngIf="forgotPasswordForm.get('email')?.invalid && forgotPasswordForm.get('email')?.touched" class="text-danger">
                Email không hợp lệ.
              </div>
            </div>
            <div *ngIf="errorMessage" class="text-danger mb-3">
              {{ errorMessage }}
            </div>
            <button type="submit" class="btn btn-primary" [disabled]="forgotPasswordForm.invalid">Gửi liên kết khôi phục</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
