<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <!-- Input fields -->
            <div class="mb-3">
              <label for="email" class="form-label">Email:</label>
              <input type="email" class="form-control" id="email" formControlName="email">
              <div *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched" class="text-danger">
                Email không hợp lệ.
              </div>
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Mật khẩu</label>
              <input type="password" class="form-control" id="password" formControlName="password">
              <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched" class="text-danger">
                Nhập mật khẩu của bạn
              </div>
            </div>
            <!-- End input fields -->
            <!-- Error message -->
            <div *ngIf="errorMessage" class="text-danger mb-3">
              {{ errorMessage }}
            </div>
            <!-- End error message -->
            <button type="submit" class="btn btn-primary" [disabled]="loginForm.invalid">Đăng nhập</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
